html {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: none;
}

body {
    font-family: 'Lustria';
    min-height: 100%;
    color: white;
    width: 100%;
    margin: 0px;
    background-color: white;
    background-image: url("/img/flatirons.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.nav {
    background: white;
    color: black;
    border-bottom-color: grey;
}


.benson {
    width: 100%;
}

.highlight {
    font-weight: 3px;
    text-decoration: underline;
}

.nav-item {
    font-size: 1.5em;
}

.land-text {
    font-size: 1.5em;
    margin: .5em;
    color: black;
    text-align: justify;
/*    text-shadow: 2px 2px 2px black;
*/}


a.nav-item {
    color: black;
}

a.nav-item.is-tab:hover {
    border-bottom-color: black;
}

.padder {
    margin-top: 10%;
}

.namehead {
    text-indent: .5em;
}

.info {
    margin-top: 5%;
    background: white;
}

.masthead {
    margin: .25em;
    color: black;
    font-family: 'Oxygen';
/*    text-shadow: 1px 1px 1px black;
*/
}


